@{
    Layout = null;
}

@model EditMetricModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
                           integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
                           crossorigin="anonymous">
    <link href="~/css/editstyle.css" rel="stylesheet" />
</head>
<body>
    <script src="~/js/EditMetric.js" type="text/javascript"></script>
    @if (Model != null)
    {
        <input type="hidden" id="editIdInput" value="@Model.Id" />
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Текущая метрика для редактирования:</h4>
            <div class="table">
                <div class="row-my table-head">
                    <div class="table-head-th">
                        <div class="col-my table-col col__title">Name</div>
                        <div class="col-my table-col col__title">IsBoolean</div>
                        <div class="col-my table-col col__title">WarningThreshold</div>
                        <div class="col-my table-col col__title">AlarmThreshold</div>
                        <div class="col-my table-col col__title">Priority</div>
                        <div class="col-my table-col col__title">Kind</div>
                    </div>
                </div>
                <div id="tableBody" class="row-my table-body">
                    <div class="table-body-tr">
                        @if (Model.Name == "")
                        {
                            <div class="col-my table-col nameMetric">Empty</div>
                        }
                        else
                        {
                            <div class="col-my table-col nameMetric">@Model.Name</div>
                        }
                        <div class="col-my table-col">@Model.IsBoolean</div>
                        <div class="col-my table-col">@Model.WarningThreshold</div>
                        <div class="col-my table-col">@Model.AlarmThreshold</div>
                        <div class="col-my table-col">@Model.Priority</div>
                        <div class="col-my table-col">@Model.Kind </div>
                    </div>
                </div>
            </div>
            <form class="needs-validation" novalidate="">
                <div class="mb-3">
                    <label for="editNameInput">Name</label>
                    <input type="text" class="form-control" id="editNameInput" value="@Model.Name">
                </div>
                <div class="mb-3">
                    <label for="username">IsBoolean</label>
                    <div class="custom-control custom-radio">
                        <input id="editIsBooleanInputTrue" name="isBoolean" type="radio" class="custom-control-input" value="true" checked required>
                        <label class="custom-control-label" for="editIsBooleanInputTrue">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="editIsBooleanInputFalse" name="isBoolean" type="radio" class="custom-control-input" value="false" checked required>
                        <label class="custom-control-label" for="editIsBooleanInputFalse">No</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="editWarningThresholdInput">WarningThreshold</label>
                    <input type="text" class="form-control" id="editWarningThresholdInput" value="@Model.WarningThreshold">
                </div>
                <div class="mb-3">
                    <label for="editAlarmThresholdInput">AlarmThreshold</label>
                    <input type="text" class="form-control" id="editAlarmThresholdInput" value="@Model.AlarmThreshold">
                </div>
                <div class="mb-3">
                    <label for="editPriorityInput">Priority</label>
                    <select class="custom-select d-block w-100" id="editPriorityInput" required="">
                        <option value="">Choose...</option>
                        <option value="2">Low</option>
                        <option value="1">Medium</option>
                        <option value="0">High</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="editKindInput">Kind</label>
                    <input type="text" class="form-control" id="editKindInput" value="@Model.Kind">
                </div>
                <div>
                    <button class="btn btn-primary btn-sm" type="button" onclick="processEdit()">Save</button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="location.href='@Url.Action("Metrics", "Metric")'">Back</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <p>Метрики с данным идентификатором не существует!</p>
    }
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/7e6d09d347.js"></script>
</body>
</html>