@{
    Layout = null;
}

@model EditMetricModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
    <script src="~/js/AddMetric.js" type="text/javascript"></script>
    <p>Добавьте метрику:</p>
    <table>
        <tr>
            <td>Name:</td>
            <td></td>
            <td><input type="text" class="form-control" id="addNameInput" value="@Model.Name"></td>
        </tr>
        <tr>
            <td>Is Boolean?:</td>
            <td></td>
            <td>
                <input type="radio" name="isBoolean" id="addIsBooleanInput" value="true">Yes
                <input type="radio" name="isBoolean" id="addIsBooleanInput" value="false">No
            </td>
        </tr>
        <tr>
            <td>WarningThreshold:</td>
            <td></td>
            <td><input type="text" class="form-control" id="addWarningThresholdInput" value="@Model.WarningThreshold"></td>
        </tr>
        <tr>
            <td>AlarmThreshold:</td>
            <td></td>
            <td><input type="text" class="form-control" id="addAlarmThresholdInput" value="@Model.AlarmThreshold"></td>
        </tr>
        <tr>
            <td> Priority:</td>
            <td></td>
            <td>
                <select id="addPriorityInput">
                    <option value="2">Low</option>
                    <option value="1">Medium</option>
                    <option value="0">High</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Kind:</td>
            <td></td>
            <td><input type="text" class="form-control" id="addKindInput" value="@Model.Kind"></td>
        </tr>
    </table>
    <input type="button" onclick="processAdd()" value="Add">
    @Html.ActionLink("Back", "Metrics", "Home")
</body>
</html>