@{
    Layout = null;
}

@model EditMetricModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
    <script src="~/js/EditMetric.js" type="text/javascript"></script>
    @if (Model != null)
     {
        <p>Текущая метрика для редактирования:</p>
        <table>
            <tr>
                <td>Name</td>
                <td>IsBoolean</td>
                <td>WarningThreshold</td>
                <td>AlarmThreshold</td>
                <td>Priority</td>
                <td>Kind</td>
            </tr>
            <tr>
                @if (Model.Name == "")
                {
                    <td>Empty</td>
                }
                else
                {
                    <td>@Model.Name</td>
                }
                <td>@Model.IsBoolean</td>
                <td>@Model.WarningThreshold</td>
                <td>@Model.AlarmThreshold</td>
                <td>@Model.Priority</td>
                <td>@Model.Kind</td>
            </tr>
        </table>       
        <input type="hidden" id="editIdInput" value="@Model.Id" />
        <table>
            <tr>
                <td>Name:</td>
                <td></td>
                <td><input type="text" class="form-control" id="editNameInput" value="@Model.Name"></td>
            </tr>
            <tr>
                <td>Is Boolean?:</td>
                <td></td>
                <td>
                    <input type="radio" name="isBoolean" id="editIsBooleanInput" value="true">Yes
                    <input type="radio" name="isBoolean" id="editIsBooleanInput" value="false" checked>No
                </td>
            </tr>
            <tr>
                <td>WarningThreshold:</td>
                <td></td>
                <td><input type="text" class="form-control" id="editWarningThresholdInput" value="@Model.WarningThreshold"></td>
            </tr>
            <tr>
                <td>AlarmThreshold:</td>
                <td></td>
                <td><input type="text" class="form-control" id="editAlarmThresholdInput" value="@Model.AlarmThreshold"></td>
            </tr>
            <tr>
                <td> Priority:</td>
                <td></td>
                <td>
                    <select id="editPriorityInput">
                        <option value="2">Low</option>
                        <option value="1">Medium</option>
                        <option value="0">High</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Kind:</td>
                <td></td>
                <td><input type="text" class="form-control" id="editKindInput" value="@Model.Kind"></td>
            </tr>
        </table>
        <input type="button" onclick="processEdit()" value="Edit">
        @Html.ActionLink("Back", "Metrics", "Home")
     }
     else
     {
        <p>Метрики с данным идентификатором не существует!</p>
     }
    </body>
</html>