<div>
    <table class="table table-bordered table-dark">
        <thead class="thead-dark">
            <tr>
                <td><p>Id</p></td>
                <td><p>Name</p></td>
                <td><p>Value</p></td>
                <td><p>warningThreshold</p></td>
                <td><p>alarmThreshold</p></td>
                <td><p>Priority</p></td>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model.Metrics)
           {
                <tr>
                    <td><p>@item.Id</p></td>
                    <td><p>@item.Name</p></td>
                    <td><p>@Model.LastValueOfLogs</p></td>
                    <td><p>@item.warningThreshold</p></td>
                    <td><p>@item.alarmThreshold</p></td>
                    <td><p>@item.Priority</p></td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Logs</h3>
    <table class="table table-bordered table-dark">
        <thead class="thead-dark">
            <tr>
                <td><p>Id</p></td>
                <td><p>Value</p></td>
                <td><p>Date</p></td>
            </tr>
        </thead>
        <tbody>
           @foreach (var i in Model.Logs)
            {
                <tr>
                    <td><p>@i.Id</p></td>
                    <td><p>@i.Value</p></td>
                    <td><p>@i.Date</p></td>
                </tr>
            }
        </tbody>
    </table>
</div> 
@Html.ActionLink("AddNewValueInLogs", "Update");
<script type="text/javascript">
</script>
