@{
    Layout = null;
}

@model MetricsModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
    <table>
        <tr>
            <td>Name</td>
            <td>IsBoolean</td>
            <td>WarningThreshold</td>
            <td>AlarmThreshold</td>
            <td>Priority</td>
            <td>Kind</td>
            <td>@Html.ActionLink("Add", "Add", "Home")</td>
        </tr>
        @foreach (var i in Model.Metrics)
        {
            <tr>         
                @if (i.Name == "")
                {
                   <td>Empty</td>
                }
                else
                {
                   <td>@i.Name</td>
                }
                <td>@i.IsBoolean</td>
                <td>@i.WarningThreshold</td>
                <td>@i.AlarmThreshold</td>
                <td>@i.Priority</td>
                <td>@i.Kind</td>
                <td>@Html.ActionLink("Edit", "Edit", "Home", new { id = i.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Home", new { id = i.Id })</td>
            </tr>
        }
    </table>
</body>
</html>